#Mac:
.DS_Store

#Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#node modules
node_modules/

#build files
client/build/
server/client/

#customer files and debug
upload/
main.js
newTest.js

#ide
.idea/

