.infospan {
  padding: 5px 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
}
.secondspan {
  padding: 5px 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.infoList {
  padding: 5px 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
